@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* Google Font */

#main-page-container { /* Used in MainPage.js */
    font-family: Montserrat, Georgia, monospace; 
    color: white; 
    background-color: black;
    padding: 15px;
}

#container-description { /* Used in MainPage.js */
    margin: 10px; 
}

#our-story { /* Used in MainPage.js */
    font-family: Montserrat, Georgia, monospace; 
}

.large-text { /* Used in MainPage.js */
    font-weight: bold;
    font-size:  50px;
}

.green-text { /* Used in MainPage.js */
    color: rgb(111, 175, 111); 
}

.quote-block { /* Used in MainPage.js */
    position: relative; 
    width: fit-content;
    padding-bottom: 30px;
    padding-right: 100px;
}

.quote { font-style: italic; } /* Used in MainPage.js */

.quote-author { /* Used in MainPage.js */
    position: absolute; 
    right: 0; 
    bottom: 0;
}

.paragraph-title { /* Used in MainPage.js */
    margin-top: 50px;
    margin-bottom: 10px; 
}

img {
    width: 33%;
    margin: 15px; 
}

.btn { /* Used in LoginPage.js */
    margin: 10px;
}

.flex-container-column {
    display: flex; 
    flex-direction: column;
}
